header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .7em;
    height: min-content;
}

header .menu-button {
    display: block;
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: 0;
    fill:white;
    height: 2em;
    width: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu-button:hover{
    background-color: var(--secondary-color);
}

.menu-button > * {
    height: 1.5em;
    width: 1.5em;
    margin: 0 auto;
}
header img{
    height: 3em;
  }
    