#titlesList {
    list-style-type: none;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow-x:hidden;
    overflow-y: scroll;
    /* height: 80em; */
    max-height: 60vh !important;
    
    background-color: var(--main-content-box-color);
    border-spacing: 0;
    margin: 1em 0;
}


html[data-theme="light"] tr:nth-child(even){
    background-color: #f9f9f9;
}
html[data-theme="dark"] tr:nth-child(even){
    background-color: #363636;
}
