button {
    display: block;
    padding: .6em;
    font-size: 1rem;
    background-color: var(--primary-color);
    border: var(--secondary-color);
    border-radius: .2em;
    color: var(--light-font-color);
    font-weight: bold;
    transition: all .2s;
}

button.outline {
    background-color: transparent !important;
    border: .1em solid var(--primary-color);
}

button:active,
button:hover {
    filter: brightness(0.8);
}

.pos-right {
    float: right
}